*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
  background: radial-gradient(ellipse at center, #261A3B 0%, #1F1233 100%);
  background-attachment: fixed;
  color: #fff;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
